################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PRP/PRP.Service.Api/logs
/PRP/PRP.WinService/logs
/PRP/.vs/PRP/FileContentIndex
/.vs
