@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.table-partner-item:nth-child(even) {
  background-color: rgba(75, 85, 99, 0.15);
}

.table-partner-item .reports span.pod,
.table-partner-item .reports .tooltip-pod {
  background-color: #343434;
}

.table-partner-item .reports span.clear,
.table-partner-item .reports .tooltip-clear {
  background-color: #3C8DB9;
}

.table-partner-item .reports span.scan,
.table-partner-item .reports .tooltip-scan {
  background-color: #9C7A97;
}

.table-partner-item .reports span.exception,
.table-partner-item .reports .tooltip-exception {
  background-color: #EE964B;
}

.table-partner-item .reports span.bg-white {
  background-color: transparent;
}

.pagination-item {
  display: none;
}

.pagination .current-page,
.pagination .next-page {
  display: block;
}

.w-100vw {
  width: 100vw;
}


.partner-form::-webkit-scrollbar,
.list-per-page::-webkit-scrollbar {
  border-radius: 5px;
  width: 8px;
  background: #d7d7d7;
}

.partner-form::-webkit-scrollbar-thumb,
.list-per-page::-webkit-scrollbar-thumb {
  background: #4f46e5;
  border-radius: 4px;
}
.partner-form::-webkit-scrollbar-thumb {
  background: #6366F1;
}

.partner-form {
  max-height: 90vh;
}

@media screen and (min-width: 768px) {
  .pagination-item {
    display: block;
  }

  .pagination-item.hidden {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .home__hero-image {
    height: 528px;
    width: 528px;
  }

  .home__cards-containers {
    height: 528px;
  }
}